-e packages/utils
-e packages/data
-e packages/training
-e packages/pipeline
-e packages/tutorial
-e packages/zoo
-e packages/bundled_models/fourcastnext
-e packages/third_party/aws_site_archive
-e .[test]
